
@{
    ViewBag.Title = "CheckOut";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}

<h2>@Html.Raw(ViewBag.Message)</h2>
@Html.Raw(ViewBag.Message2)

@if (ViewBag.HasItems)
{
    <h2>@Html.ActionLink("Proceed with Check Out", "ShoppingCartAccount")</h2>
}

